.root {
  display: flex;
  flex-direction: column;
  color: #4a4a4a;
}

.tittle {
  padding: 0 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.item {
  padding: 10px 20px;
  font-size: 13px;
  position: relative;
  display: flex;
  cursor: pointer;

  @media screen and (max-width: 560px) {
    padding: 1.5% 3%;
  }

  &:hover {
    background-color: #f1fcff;
  }

  &:last-child {
    margin-bottom: -10px;
    @media screen and (max-width: 560px) {
      margin-bottom: -1.5%;
    }
  }

  &Input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &Checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #9abbce;
    box-sizing: border-box;
    border-radius: 2px;
  }

  :global(.focus-visible) + &Checkmark {
    box-shadow: 0 0 0 0.1em #4A90E2, 0 0 0 0.2em #2196f3;
  }
  &Input:checked ~ &Checkmark {
    background: url('../../../assets/img/Shape.svg') no-repeat 3px;
  }

  &Label {
    padding-left: 11px;
    padding-top: 3px;
  }
}

