@import '~normalize.css';
@import '../../../assets/scss/vars';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f3f7fa;
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 560px) {
    margin: 0 3%;
  }
}

.logo {
  padding: 40px 0 31px;

  @media screen and (max-width: 560px) {
    padding: 0;
  }
}

.form {
  max-width: 754px;
  width: 100%;
  display: grid;
  grid-template-columns: 30.8% 66.6%;
  grid-column-gap: 2.6%;
  @media screen and (max-width: 560px) {
    display: flex;
    flex-direction: column;
  }

  &OrderTabs {
    grid-area: 1 / 2;
  }

  &Filter {
    @extend %container;
    height: fit-content;
    @media screen and (max-width: 560px) {
      margin-top: 3%;
    }
  }

  &Results {
    grid-area: 1 / 2;
    margin-top: 70px;
    @media screen and (max-width: 560px) {
      display: flex;
      flex-direction: column;
      margin-top: 3%;
    }
  }
}
