@import '../../../../assets/scss/vars';

$border: 1px solid $borderColor;
$borderActiveHover: 2px solid $borderColorHover;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-top: $border;
  border-bottom: $border;
  border-left: none;
  border-right: none;
  height: 50px;
  background-color: #ffffff;
  color: #000;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;

  &:first-child {
    border-left: $border;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-right: $border;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:hover, &.stateFocused{
    border-color: $borderColorHover;
    border-width: 2px;
    border-right: 2px solid $borderColorHover;
    border-left: 2px solid $borderColorHover;
  }
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}


.stateActive {
  background-color: $borderColorHover;
  border-color: $borderColorHover;
  color: #ffffff;
}

.stateActive:hover, .stateActive.stateFocused {
  background-color: #ffffff;
  color: $colorBlue;
  border-width: 2px;
  border-right: $borderActiveHover;
  border-left: $borderActiveHover;
}
